:root {
  --text: #FCFAF9;
  --bg: #0A0F0D;
  --light: #d2ffc6;
  --med: #c23a3a;
  --dark: #030031;
  --accent: #99db48;

  --bgimg: url(/assets/imgs/pixels/moonrunner.png) right 80px top 0 repeat-y fixed, url(/assets/imgs/moon.gif) 40% repeat fixed var(--bg);
  --iconfilter: brightness(0) saturate(100%) invert(99%) sepia(41%) saturate(74%) hue-rotate(298deg) brightness(98%) contrast(102%);
}