/* atkinson-hyperlegible-regular - latin_latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-regular.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */
}

/* atkinson-hyperlegible-italic - latin_latin-ext */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
        url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/assets/fonts/atkinson-hyperlegible-v10-latin_latin-ext-italic.svg#AtkinsonHyperlegible') format('svg'); /* Legacy iOS */
}

/*basteleur*/
@font-face {
  font-family: 'Basteleur';
  src: url('/assets/fonts/basteleur.eot');
  src: url('/assets/fonts/basteleur.woff2') format('woff2'),
      url('/assets/fonts/basteleur.woff') format('woff'),
      url('/assets/fonts/basteleur.ttf') format('truetype'),
      url('/assets/fonts/basteleur.svg#basteleurmoonlight') format('svg'),
      url('/assets/fonts/Basteleur.otf') format('opentype');
}

/*femme fatale*/
@font-face {
  font-family: 'Femme Fatale';
  src: url('/assets/fonts/skfemmefatale.eot');
  src: url('/assets/fonts/skfemmefatale.woff2') format('woff2'),
      url('/assets/fonts/skfemmefatale.woff') format('woff'),
      url('/assets/fonts/skfemmefatale.ttf') format('truetype'),
      url('/assets/fonts/skfemmefatale.svg#sk_femme_fataleregular') format('svg');
}