:root {
  --text: #150413;
  --bg: #d6d4cb;
  --light: #90ddff;
  --med: #3600ab;
  --dark: #1c0021;
  --accent: #ffdd00;

  --bgimg: url(/public/assets/imgs/cold.png) top right no-repeat fixed var(--bg);
  --iconfilter: brightness(0) saturate(100%) invert(5%) sepia(47%) saturate(2142%) hue-rotate(276deg) brightness(76%) contrast(102%);
}