:root {
  --text: #050505;
  --bg: #ffeebb;
  --light: #ffbc36;
  --med: #3b313c;
  --dark: #073467;
  --accent: #ff55ff;

  --bgimg: url(/public/assets/imgs/sun.jpg) 40% repeat fixed var(--bg);
  --iconfilter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(7498%) hue-rotate(48deg) brightness(100%) contrast(96%);
}